<!-- Menu fixo layout desktop -->
<header id="menu">
  <nav id="normal-menu">
      <div id="title-menu"><h2>SLACA 2019</h2></div>
      <img src="../../../assets/images/logo-slaca.png" alt="Logotipo 13 Slaca">
      <ul>
          <li><a href="#">Apresentação</a></li>
          <li><a href="#">Comitês</a></li>
          <li><a href="#">Autores</a></li>
          <li><a href="#">Eixos temáticos</a></li>
          <li><a href="#" class="selected">Trabalhos</a></li>
          <li><a href="#">Contato</a></li>
      </ul>
      <button class="language-menu">
          <img src="images/language-image.png" alt="Ícone do globo" id="globo">
          <span>PT, BR</span>
          <img src="images/dropdown.png" alt="Ícone seta para baixo">
      </button>
  </nav>
</header>

<!-- Menu layout mobile -->
<header id="responsive-menu">
  <nav id="compact-menu">
      <div id="menu-hamburguer">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
      </div>
      <span><h2>SLACA 2019</h2><p>ISSN:1234-5678</p></span>
      <div class="profile">
          <ul>
              <li><h5>Bem vindo!</h5></li>
          </ul>
          <span class="user">
              <div class="notification">2</div>
              <img src="images/user.png" alt="Foto de perfil">
          </span>
      </div>
  </nav>
  <nav id="menu-mobile">
      <ul>
          <li><a href="#">Apresentação</a></li>
          <li><a href="#">Comitês</a></li>
          <li><a href="#">Autores</a></li>
          <li><a href="#">Eixos temáticos</a></li>
          <li><a href="#">Trabalhos</a></li>
          <li><a href="#">Contato</a></li>
      </ul>
  </nav>
</header>
