<!-- Título do conteúdo e opções de download e citação -->
<section id="title-section">
  <h2>Análise sensorial de preparações funcionais desenvolvidas para escolares entre 09 e 15 anos, do município de Campinas/SP </h2>
  <div id="top-section">
      <div>
          <div><img src="../../../assets/images/download.png" alt="Ícone de download">Download</div>
          <div><img src="../../../assets/images/star.png" alt="Ícone de estrela"></div>
          <div><img src="../../../assets/images/doi.png" alt="Ícone do doi"></div>
      </div>
      <span id="quote"><a href="#">COMO CITAR ESSE TRABALHO?</a></span>
  </div>
</section>
