<!-- Informações do conteúdo e de usuário -->
<header id="content">
  <div id="title-content">
      <span>Anais do Simpósio Latino Americano de Ciências de Alimentos</span>
      <h2>Anais do 13° Simpósio Latino Americano de Ciência de Alimentos</h2>
      <p>ISSN:1234-5678</p>
  </div>
  <div id="content-right">
      <button class="language">
          <img src="../../../assets/images/language-image.png" alt="Ícone do globo" id="globo">
          <span>PT, BR</span>
          <img src="../../../assets/images/dropdown.png" alt="Ícone seta para baixo">
      </button>
      <div class="profile">
          <ul>
              <li><h5>Bem vindo!</h5></li>
              <li><p>alguem12@galoascience.com</p></li>
          </ul>
          <span class="user">
              <div class="notification">2</div>
              <img src="../../../assets/images/user.png" alt="Foto de perfil">
          </span>
      </div>
  </div>
</header>
